In [33]:
import sqlalchemy
from dotenv import dotenv_values
import os
from dotenv import load_dotenv, find_dotenv

load_dotenv(find_dotenv())

True

In [8]:
SECRET_KEY = os.environ.get("COCKROACHLABS_PASS")

In [9]:
# import necessary packages
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
  
# establish connection with the database
engine = create_engine("cockroachdb://"+SECRET_KEY+"@hollow-buffalo-4648.g8z.cockroachlabs.cloud:26257/defaultdb")

In [4]:
from sqlalchemy import MetaData, Table, Column, Integer, String

meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String),
)
meta.create_all(engine)

In [21]:
with engine.connect() as conn:
    result = conn.execute(insert(students), [{"name":"Darren", "lastname":"Weng"},{"name":"Gabe", "lastname":"Weng"}, {"name":"Julian", "lastname":"Weng"}])
    conn.commit()

In [30]:
res = pd.read_sql_table("students",con=engine)
res

                   id    name lastname
0  884479205530009601  Darren     Weng
1  884481281161953281    Gabe     Weng
2  884481281162084353  Julian     Weng

In [32]:
res['id'][0]

884479205530009601

In [27]:
from sqlalchemy import delete

stmt = delete(students).where(students.c.id == 	884482055409958913)
with engine.connect() as conn:
    result = conn.execute(stmt)
    conn.commit()