In [1]:
import sqlalchemy
from dotenv import dotenv_values
import os
from dotenv import load_dotenv, find_dotenv

load_dotenv(find_dotenv())

True

In [2]:
SECRET_KEY = os.environ.get("COCKROACHLABS_PASS")
SECRET_KEY

'sandyhill:vVgiX7CPEnOowG7VsrsfsQ'

In [3]:
# import necessary packages
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
  
# establish connection with the database
engine = create_engine("cockroachdb://"+SECRET_KEY+"@hollow-buffalo-4648.g8z.cockroachlabs.cloud:26257/defaultdb")

In [4]:
from sqlalchemy import MetaData, Table, Column, Integer, String

meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String),
)
meta.create_all(engine)

In [35]:
table_df = pd.read_sql_table("students",con=engine)

In [23]:
table_df

Empty DataFrame
Columns: [id, name, lastname]
Index: []